.productCard:hover{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}



@media(min-width:1200px){
   #products .productCol{
    width: 20% !important;
   }
}
.priceMonth{
    background-color: red;
    padding: 1px 8px;
    border-radius: 20px;
    color: white;
    display: inline-block;
}

.title{
    font-size: 18px;
}

.productCard .btn{
    display: block;
}